<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../Imports/resources/css/global/materialize.min.css">
    <link rel="stylesheet" href="../../Imports/resources/css/global/material-icons.css">
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
    
    <script src="../../js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../../Imports/resources/js/global/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/Helpers/Helpers.js"></script>
    <script src="../../user/classes/User.js"></script>
    <script src="../classes/Product.js"></script>
    <script type="text/javascript" src="../controllers/viewProduct.js"></script>    
</body>
</html>