html {
    height: 100%;
}
body {
	width: 100%;
	background-color: #06bcfb;
	background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
}

.card{
  margin-top: 2rem;
}
.card-title{
  margin-top:1rem;
}
.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}