#backBtn{
    margin-top: 0.5rem;
    box-shadow: none!important;
}
.collection{
    border-radius: 11px;
}
.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}