<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="../../../Imports/resources/css/global/materialize.min.css">
    <link rel="stylesheet" href="../../../Imports/resources/css/global/material-icons.css">
    <link rel="stylesheet" href="../../../Imports/resources/css/utilities/adminstadistics.css">
    <script type="text/javascript" src="../../../js/jquery.js"></script>
</head>
<body>
<main>
    <div class="row">
        <div class="preloader-background">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a href="index.html" id="arrowBack"> <i class="material-icons black-text" id="iconArrow">arrow_back</i> </a>
        </div>
        <div class="col s12">
            <div class="col s12">
                <h5 id="personalTitle">Estadisticas</h5>
            </div>
            <div class="col s12">
                <div id="listCharts">
                    <div class="card z-depth-2" id="card-canvas-requests">
                        <div class="card-content">
                            <span id="titleChartRequest" class="card-title">N° de solicitudes enviadas por fecha</span>
                            <div id="canvasRequest">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div id="listCharts">
                    <div class="card z-depth-2" id="productsChart">
                        <div class="card-content">
                            <div class="row">
                                <a class="col s12 black-text" id="titleChartRequest"> Productos </a>
                                <a id="descOption" class="col s2 right"> <i class="material-icons">arrow_drop_up</i> </a>
                                <a id="ascOption" class="col s2 right"> <i class="material-icons">arrow_drop_down</i> </a>
                            </div>
                            <div id="canvasProducts">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div id="listCharts">
                    <div class="card">
                        <div class="card-content">
                            <div id="canvasProductsUsed" class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- <footer>
    <div class="row">
        <div class="col s12">
            <div class="row" id="footer">
                <div class="col s12">
                    <a class="btn red col s12" id="signOffButton"> <span id="titleButton"> Cerrar sesión </span> </a>
                </div>
            </div>
        </div>
    </div>
</footer>
-->
<script src="../../../js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../../../Imports/resources/js/global/materialize.min.js"></script>
<script type="text/javascript" src="../../../Imports/resources/js/global/chart.js"></script>
<script type="text/javascript" src="../../../helpers/charts.js"></script>
<script type="text/javascript" src="../../../js/Helpers/Helpers.js"></script>
<script type="text/javascript" src="../../../user/classes/User.js"></script>
<script type="text/javascript" src="../../../user/controllers/adminCharts.js"></script>
</body>
</html>