html {
    height: 100%;
}
body {
	width: 100%;
	background-color: #06bcfb;
	background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
}
  .preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

#iconBack
{
	position: relative;
	font-size: 4vh;
	right: 1vh;
}

#informationProduct{
	margin-top:-1.5rem;
	border-radius: 1rem;
	background-color:rgb(59, 59, 156);
}
#icondislike{
	margin-left: 1.2rem;
}
#labelNumberLikes{
	position: relative;
	top:2.5vh;
	right:3.5vh;
}
#labelNumberdisLikes{
	position: relative;
	top:2.5vh;
	right:3.5vh;
}
#back{
	margin-top:0.5rem;
	margin-left: 0.3rem;
	box-shadow: none!important;
	
}