html {
    height: 100%;
}
body {
	width: 100%;
	background-color: #06bcfb;
	background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
}
  .preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}
#iconUp{
	margin-left: 1.2rem;
}
#back{
	margin-top:0.5rem;
	margin-left: 0.3rem;
	box-shadow: none!important;
}